/* utilities classes */
@media (min-width: 600px) {
}

.main {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 600px) {
  .container {
    padding: 0 30px;
  }
}

.title {
  text-align: center;
  font-size: 3.7rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.subtitle {
  color: #780000;
  font-size: 2.5rem;
  text-align: center;
}

@media (min-width: 600px) {
  .subtitle {
    text-align: left;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 600px) {
  .row {
    flex-direction: row;
  }
}

.row .col {
  flex: 1;
}

.h-center {
  display: flex;
  justify-content: center;
}

/* globle */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dongle", sans-serif;
  text-decoration: none;
  list-style: none;
  line-height: 2.5rem;
}

html {
  font-family: "Dongle", sans-serif;
  font-size: 18px;
  background-image: url(https://img.freepik.com/free-photo/white-painted-wall-texture-background_53876-138197.jpg?w=740&t=st=1681686742~exp=1681687342~hmac=b060f27370a70faf7e533592ce25ed5297ed7b859953ca0935e4bf803ff3be1b);
  background-size: cover;
  -ms-overflow-style: none;
}

section,.section {
  padding: 30px 0;
}

@media (min-width: 600px) {
  section,.section {
    padding: 80px 0;
  }
}

p {
  font-size: 1.8rem;
  line-height: 1.9rem;
  text-align: left;
}

button {
  background-color: #780000;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 30px;
  transition: 0.4s;
  font-size: 1.5rem;
}

button:hover {
  background-color: transparent;
  border: 2px solid #780000;
  cursor: pointer;
  color: #780000;
}

/* stylling */

nav {
  background: #ffddd2;
  border-bottom: 3px solid #ef233c;
  overflow: hidden;
}

nav .nav-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  nav .nav-content {
    justify-content: space-between;
  }
}

nav .nav-content .logo {
  display: flex;
}

nav .nav-content .logo img {
  display: none;
}

@media (min-width: 600px) {
  nav .nav-content .logo img {
    display: inline-flex;
  }
}

nav .nav-content ul {
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

nav .nav-content ul li {
  align-self: stretch;
  display: flex;
}

nav .nav-content ul li a {
  display: flex;
  align-items: center;
  color: #252422;
  font-weight: bold;
  font-size: 2rem;
  padding: 0 10px;
  transition: all 0.2s;
}

@media (min-width: 600px) {
  nav .nav-content ul li a {
    padding: 0 40px;
  }
}

nav .nav-content ul li a:hover {
  color: #be3144;
  background: #000;
}

/* welcome section */

#welcome-section {
  transition: all 0.2s ease-in-out;
}

#welcome-section:hover {
  transform: scale(1.03);
}

#welcome-section #img_me {
  text-align: center;
}

#welcome-section #img_me img {
  width: 300px;
  border-radius: 7px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* project section */
#projects {
  background-color: #e9edc9;
}

#projects .subtitle {
  text-align: center;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.cards .card {
  position: relative;
  display: flex;
  transition: all 1s ease-in-out;
}

.cards .card:hover {
  transform: rotate3d(0, 1, 0.5, 1turn);
  position: relative;
  z-index: 10;
}

.cards .card img {
  width: 100%;
}

.cards .card span {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #e9edc9;
  font-size: 1.4rem;
}

/* video section */

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
}

/* contact section */
#contact .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#contact .container p {
  font-size: 1.5rem;
}

#contact .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 2.5rem;
}

#contact .container ul li {
  transition: all 0.4s;
}

#contact .container ul li:hover {
  transform: scale(1.5) rotate(-15deg);
}

#contact .container ul a {
  color: #252422;
}

/* footer section */
footer {
  background: #fff;
  border-top: 2px solid #be3144;
}

footer .footer-content {
  height: 80px;
  align-items: center;
}

footer .footer-content img {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 80%; /* Adjust the width as needed */
}

input, button {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 10px 0;
}

span {
  font-weight: bold;
}
/* Center the content vertically and horizontally */
body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
}

/* Style the list */
#li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style the input */
#text {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

/* Style the button */
#comment {
  background-color: #660000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}